
body{
  background-color: #e486fe;
}
.card {
  background-color: #db9cec;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
}

.card-body {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-img-top {
  object-fit: contain;
  height: 150px; 
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.btn-edit,
.btn-delete {
  margin-right: 5px;
}

.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #b02a37;
  border-color: #b02a37;
}

.btn-primary.btn-edit,
.btn-primary.btn-delete {
  margin-bottom: 5px;
}

.precio {
  font-weight: bold;
}
.title-center {
  text-align: center;
  font-size: 40px;
  font-style: italic;
  color: #d48ce8;
}
