.card {
    height: 550px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card img {
    width: 100%; 
    height: 200px; 
    object-fit: cover;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 13px;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    font-size: 0.9rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
  }
  
  .precio {
    font-size: 1rem; 
    text-align: right; 
  }
  
  button {
    background-color: green; /* Color de fondo verde para el botón */
    color: #fff;
    border: 6px;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Opcional: Estilo para todas las tarjetas en una fila */
  .row .card {
    flex: 1 0 33%; /* Distribuye el ancho de las tarjetas en una fila */
    max-width: 33%; /* Limita el ancho máximo de las tarjetas en una fila */
    margin-right: 1rem; /* Espacio entre las tarjetas */
  }
  