/* Estilo para las tarjetas */
.card {
  height: 100%;
}

.card-img-top {
  object-fit: contain;
  height: 200px; /* Ajusta la altura según tus necesidades */
  width: 100%; /* Ajusta el ancho según tus necesidades */
}


.card-title {
  margin-top: 10px;
}

.card-text {
  margin-bottom: 5px;
}

.precio {
  font-weight: bold;
}

/* Estilo para el navbar */
.navbar-brand img {
  margin-right: 10px;
}

.navbar-brand strong {
  font-size: 1.2rem;
}

.align-middle{
  width: 9%;
  margin-left: 5%;
}



